{% extends 'base.html.twig' %}

{% block title %}Welcome to Filminder{% endblock %}

{% block body %}
    <div class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white min-h-screen">
        <div class="container mx-auto p-4">
            <div class="text-center py-16">
                <h1 class="text-5xl font-extrabold mb-4 animate__animated animate__fadeIn">Welcome to Mov'Finder</h1>
                <p class="text-2xl mb-8">Swipe tes films/séries préférés et compare tes likes avec tes amis !</p>
                <a href="{{ path('app_find_movie') }}" class="text-white bg-blue-500 px-8 py-2 rounded-full text-lg">C'est parti</a>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 text-center py-16">
                <div class="animate__animated animate__fadeIn animate__delay-1s">
                    <i class="fas fa-film text-5xl mb-4"></i>
                    <h2 class="text-2xl font-bold mb-4">Large séléction</h2>
                    <p>Une large variété de films et séries disponible</p>
                </div>
                <div class="animate__animated animate__fadeIn animate__delay-2s">
                    <i class="fas fa-heart text-5xl mb-4"></i>
                    <h2 class="text-2xl font-bold mb-4">Séléction Aléatoire</h2>
                    <p>La possibilité de séléctionner un film aléatoire parmis ta liste de Likes !</p>
                </div>
                <div class="animate__animated animate__fadeIn animate__delay-3s">
                    <i class="fas fa-mobile-alt text-5xl mb-4"></i>
                    <h2 class="text-2xl font-bold mb-4">Mobile Friendly</h2>
                    <p>Toujours avec toi, peu importe où tu es</p>
                </div>
            </div>

            <div class="text-center py-16">
                <h2 class="text-3xl font-bold mb-8 animate__animated animate__fadeIn">Nous contacter</h2>
                <p class="mb-8">Tu as une question ? Contacte-nous <a href="mailto:gui.prouchandy@gmail.com" class="underline">sur notre email</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
