@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.border-pastel-green {
    border-color: #77dd77;
}

.text-pastel-green {
    color: #77dd77;
}

@keyframes swipeRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(55px);
    }
}

@keyframes swipeLeft {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-55px);
    }
}

.swipe-right {
    animation: swipeRight 0.5s ease-in-out forwards;
}

.swipe-left {
    animation: swipeLeft 0.5s ease-in-out forwards;
}

#login-modal {
    transition: opacity 0.3s ease;
}

.modal-buton {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.modal-buton:hover {
    background: rgb(239, 123, 181);
    background: radial-gradient(circle, rgb(241, 133, 179) 0%, rgb(116, 173, 241) 100%);
}

.rate {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(210,228,80,1) 0%, rgba(0,212,255,1) 100%);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: #b252e5;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #b252e5,
    0 0 25px #b252e5,
    0 0 50px #b252e5,
    0 0 100px #b252e5;
}

.login-box button span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #b252e5);
    animation: btn-anim1 2s linear infinite;
}