{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.appUserSearchUrl = "{{ path('app_user_search') }}";
    </script>
{% endblock %}

{% block body %}

    {% include 'components/notifAddFriend.html.twig' %}

    <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <div class="text-center pb-12">
            <h2 class="text-base font-bold text-indigo-600">
                Trouvez vos amis
            </h2>
            <h1 class="darkModeTextWhite font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
                Rechercher des utilisateurs
            </h1>
        </div>
        <div class="mb-4">
            <input class="w-full p-2 rounded" type="text" id="query" placeholder="Rechercher un utilisateur par nom">
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6" id="search-results">
        </div>
    </section>
{% endblock %}